@page "/libros_recomendados"
@using System.Text.Json;
@using MyWeb.Models;
@inject IJSRuntime JS
<PageTitle>Libros recomendados</PageTitle>
<div>
    <div class="contenedor_libro">
        <div class="Libro">
            <img src = "@currentBook.rutaImg" class = "libro_img">
            <p class="titulo_libro">
                <h2 class="titulo_libro">Titulo del libro:</h2>
                <h1>@currentBook.titulo</h1>
            </p>
            <p class="titulo_libro">
                <h2 class="titulo_libro">Autor libro:</h2>
                <h1>@currentBook.autor</h1>
            </p>
            <p class="descripcion">
                <h2 class="titulo_libro">Descripcion: </h2>
                <p>@currentBook.descripcion</p>
            </p>
        </div>
   </div>
   <div class="buttons">        
        <button class="anterior" @onclick="@PreviousBook">Anterior</button>
        <button class="siguiente" @onclick="@NextBook">Siguiente</button>
   </div>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
       getLibrosRecomendados();
    }
    private static List<Libro> getLibrosRecomendados()
    {
        string[] files = Directory.GetFiles(@"wwwroot");
        List<Libro> libros = new List<Libro>();
        foreach (string item in files)
        {
            if(item.Contains("LibrosJson")) {
                string json = File.ReadAllText(item);
                libros = JsonSerializer.Deserialize<List<Libro>>(json);
                return libros;
            }
        }
        return libros;
    }
    static int counter = 0;
    static Libro currentBook = getLibrosRecomendados()[counter];
    public static void NextBook()
    {
        counter++;
        if (counter >= getLibrosRecomendados().Count)
        {
            counter = 0;
        }
        currentBook = getLibrosRecomendados()[counter];
    }
    public static void PreviousBook()
    {
        counter--;
        if (counter < 0)
        {
            counter = getLibrosRecomendados().Count - 1;
        }
        currentBook = getLibrosRecomendados()[counter];
    }
    
}